
RewriteEngine On

RewriteRule ^/$ index.php [L]
RewriteRule ^readme$ views/readme.php [L]
RewriteRule ^about$ views/readme.php [L]
RewriteRule ^contact$ views/contact.php [L]
RewriteRule ^login$ views/login.php [L]
RewriteRule ^jobs$ views/jobs.php [L]
RewriteRule ^communicate$ views/communicate.php [L]
RewriteRule ^control-jobseeker$ views/control_jobseeker.php [L]
RewriteRule ^control-employer$ views/control_employer.php [L]