<header>
    <h1>Welcome to Our Job-seeking Platform</h1>
    <nav>
        <!-- Logo wrapped in a link to the homepage -->
        <a href="/job_platform/index.php">
            <img src="/job_platform/assets/images/logo.svg" alt="Logo" width="289" height="74">
        </a>
        <ul>
            <li><a href="/job_platform/index.php">Home</a></li>
            <li><a href="/job_platform/views/readme.php">Readme</a></li>
            <li><a href="/job_platform/views/contact.php">Contact</a></li>
        </ul>
    </nav>
</header>