body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#markdown-content {
    margin: 0px 20px;
}


header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px; /* Adjust logo size */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

footer p {
    margin: 0;
    color: #666;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer ul a {
    text-decoration: none;
    color: #333;
}

footer ul a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 5px 0;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul li {
        margin: 5px 0;
    }
}

form {
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.responsive-input {
    width: 90%; /* Use a percentage to make it responsive */
    max-width: 500px; /* Set a maximum width */
    height: 20px;
    font-size: 20px;
    padding: 10px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

input[type="submit"] {
    margin-top: 10px;
    width: 30%;
    padding: 3px;
    background-color: rgb(12	91	171	);
    color: white;
    border-radius: 4px;
}

input[type="button"] {
    margin-top: 2px;
    width: 30%;
    padding: 3px;
    background-color: rgb(12	91	171	);
    color: white;
    border-radius: 4px;
}